@import 'variables';

.container {
  width: 100%;
}

.navbar {
  display: block;
  padding: 1rem;

  .navbar-logo {
    display: block;
  }

  .navbar-burger {
    display: block;
    position: absolute;
    top: 2.7rem;
    right: 3rem;
    cursor: pointer;

    .burger-line {
      width: 2.5rem;
      height: .3rem;
      background: $green;
      margin: .4rem;
      transition: background .2s;
    }

    &:hover {
      .burger-line {
        background: $orange;
      }
    }
  }

  .navbar-list {
    display: none;
    position: absolute;

    li {
      text-align: center;
      width: 100%;

      .navbar-link {
        display: block;
        width: 100%;
      }
    }
  }

  .active {
    display: block;
    background: white;
    width: 100%;
    margin-left: -1rem;
  }
}

.hero {
  height: 90vh;
  .title {
    font-size: 4rem;
    margin-bottom: 1.5rem;
  }
  .subtitle {
    font-size: 2.5rem;
  }
}

#nosotros {
  flex-direction: column;

  .text {
    margin-right: 0; 
    padding-right: 1rem;

    h3 {
      text-align: center;
    }
  }

  .photo {
    background-position-x: left;
    margin: 0;
    margin-top: 2rem;
    padding: 0;
    padding-top: 300px;
  }
}

#servicios {
  flex-direction: column-reverse;

  .photo {
    padding-top: 300px;
    width: 100%;
    margin-top: 2rem;
  }
}

#galeria {
  .wrap {
    flex-wrap: wrap;
    #slider {
      padding: 0 1rem;
      order: -1;
    }
  }
}

#contacto {
  section {
    flex-direction: column;
  }
}

iframe {
  width: 100%;
}