@import 'variables';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: $font-text;
  overflow-x: hidden;
}

body {
  font-size: 1.7rem;
  width: 100%;
}

iframe {
  width: 100%;
}

#hidden-overflow {
  overflow: hidden;
}

.container {
  max-width: 1100px;
  margin: auto;
  text-align: center;
  height: 100%;
}

.bg-green {
  background-color: #03A67826;
}

.lead {
  margin-bottom: 3rem;
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  color: $orange;
}

.infobar {
  height: 3rem;
  background: #F7F9FB;
  
  
  #infobar-center {
    max-width: 900px;
  }

  .infobar-content {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  &-item {
    i{
      color: rgb(218, 149, 64);
    }
    span {
      color: $orange;
      font-size: 1.5rem;
    }
  }
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background: #FFFFFF;
  padding: .5rem;

  display: flex;
  justify-content: space-around;
  align-items: center;

  .navbar-logo {
    width: 20rem;
    display: flex;
    align-items: center;

    a {
      display: block;
      height: 5.636rem;;
    }

    img {
      width: 100%;
    }
  }

  .navbar-list {
    display: flex;
    justify-content: space-around;
    flex-basis: 20%;

    list-style: none;

    li {
      padding: 0;
    }

    .navbar-link {
      text-decoration: none;
      text-transform: uppercase;
      padding: 1rem;
      letter-spacing: .1rem;
      font-weight: 600;
      color: $green;
      transition: color .2s;

      &:hover {
        color: $orange;
      }
    }
  }

  .navbar-burger {
    display: none;
  }
}

.hero {
  background: url('../img/riego721.jpg') no-repeat bottom center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
  align-items: center;

  .hero-text {
    background: #00000099;
    padding: 1.5rem;
    width: 100%;
    text-transform: uppercase;
    .title {
      text-align: center;
      color: #FFF;
      font-weight: 700;
      font-size: 5rem;
    }
  
    .subtitle {
      padding: 1rem;
      width: 100%;
      text-align: center;
      font-size: 2.5rem;
      font-weight: 600;
      color: $green;
    }
  }

}

#nosotros {
  margin: 4rem 1rem;
  display: flex;

  div {
    flex: 1;
  }

  .text {
    text-align: justify;
    margin-right:2rem;
    line-height: 3rem;

  }

  .photo {
    background: url('../img/foto1.jpg') no-repeat center center/cover;
    margin-left: 2rem;
    border-radius: 5px;
  }
}

#clientes {
  padding: 4rem 1rem;
  .logos {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    .logo {
      height: 6rem;
      padding: 1rem 3rem;
      margin-bottom: 2rem;


      img {
        height: 100%;
      }
    }
  }
}

#servicios {
  margin: 4rem 1rem;
  min-height: 25rem;
  display: flex;

  div {
    flex: 1;
  }
  
  .photo {
    background: url('../img/foto2.jpg') no-repeat center center/cover;
    margin-right: 2rem;
    border-radius: 5px;
  }

  .text {
    text-align: center;
    margin-left:2rem;
    line-height: 3rem;

    ul {
      list-style: none;

      i {
        color: $green;
      }
    }
  }
}

#galeria {
  margin: 3rem 0;
  .wrap {
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      font-size: 3.5rem;
      cursor: pointer;
      color: $green;
    }

    #slider {
      width: 100%;
      height: auto;

      .slide {
        height: 100%;
        width: 100%;
        border-radius: 10px;
      }
    }
  }
}

#contacto {

  .text {
    padding-top: 4rem;
  }

  section {
    display: flex;
    padding-bottom: 3rem;

    div {
      flex: 1;
      padding: 2rem;
    }

    .left {
      form {
        display: flex;
        flex-direction: column;
        text-align: left;

        input, textarea {
          margin: 1rem 0;
          border: 1px solid $green;
          border-radius: 3px;
          padding: 1rem .8rem;
          max-width: 100%;

          &:focus {
            outline-style:none;
            box-shadow:none;
            border: 1px solid rgb(204, 180, 151);
          }
        }

        textarea {
          resize: none;
          height: 230px;
          font-family: inherit;
          font-size: inherit;
        }

        input[type="submit"] {
          cursor: pointer;
          background: $green;
          border: none;
          color: #FFF;

          &:hover {
            background: rgb(3, 143, 103);
          }
        }
      }
    }

    .right {
      .info {
      color: #111;
      border-radius: 5px;
      text-align: center;
      line-height: 3rem;
      
        ul {
          list-style: none;

          i {
            color: #555;
          }

          a:link, a:visited {
            color: #000;
          }
        }
      }

      .map {
        text-align: center;
      }
    }
  }
}

footer {
  padding: 5rem 2rem 0 2rem;
  background: #FFF;
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .top {
    display: flex;
    padding-bottom: 5rem;

    div {
      flex: 1;
      text-align: center;
      &:first-child {
        margin-right: 3rem;
      }

      h4 {
        color: $green;
        font-weight: 600;
        margin-bottom: 2rem;
        letter-spacing: 1px;
      }
      p {
        color: #737373;
        text-align: justify;
      }

      a {
        display: inline-block;
        color: #333;
        text-decoration: none;
      }

      ul {
        list-style: none;
        color: #737373;
      }
    }
  }

  hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }

  .bottom {
    font-size: 1.5rem;

    a {
      color: rgba(3, 166, 120, 0.7);
      text-decoration: none;
    }
  }
}